In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1529,tt0383060,35000000,12506188,Zoom,Tim Allen|Courteney Cox|Chevy Chase|Spencer Br...,Peter Hewitt,They're going to save the world... as long as ...,Jack Shepard is an out-of-shape auto shop owne...,83,Fantasy|Comedy|Family,Columbia Pictures|Revolution Studios,8/11/2006,5.1,2006
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
634,tt0397892,150000000,309979994,Bolt,John Travolta|Miley Cyrus|Susie Essman|Mark Wa...,Chris Williams|Byron Howard,Fully Awesome. Ridonculous. Let It Begin.,Bolt is the star of the biggest show in Hollyw...,96,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,11/20/2008,6.3,2008
1609,tt0327554,100000000,82102379,Catwoman,Halle Berry|Benjamin Bratt|Sharon Stone|Lamber...,Pitof,CATch Her In IMAX,Liquidated after discovering a corporate consp...,104,Action|Crime,Village Roadshow Pictures|DiNovi Pictures|Warn...,7/22/2004,4.3,2004
1865,tt0161081,100000000,155464351,What Lies Beneath,Harrison Ford|Michelle Pfeiffer|Diana Scarwid|...,Robert Zemeckis,He was the perfect husband until his one mista...,When Claire Spencer starts hearing ghostly voi...,130,Drama|Horror|Mystery|Thriller,DreamWorks SKG|Twentieth Century Fox Film Corp...,7/21/2000,6.1,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [77]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

data['profit'] = data['revenue'] - data['budget']  # add a new column ("profit") to the dataset .


def season(release_date):    
    '''The function takes a release date and returns the season.'''
    month = int(release_date[: release_date.find('/')])
    if 2 < month < 6:
        return 'spring'
    elif month < 9:
        return 'summer'
    elif month < 12:
        return 'autumn'
    else:
        return 'winter'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [8]:
data.query('budget == budget.max()')[['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [10]:
data.query('runtime == runtime.max()')[['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data.query('runtime == runtime.min()')[['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [12]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
round(data['runtime'].mean())

110

In [14]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [15]:
data['runtime'].median()

107.0

In [16]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [18]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [20]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
data[data['revenue'] > data['budget']].shape[0]

1478

In [22]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
data[data['release_year'] == 2008][['original_title',
                                    'imdb_id', 'revenue']].sort_values(by='revenue', ascending=False).head(1)

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

In [24]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
data.query('2012 <= release_year <= 2014')[['original_title',
                                            'imdb_id', 'profit']].sort_values(by='profit').head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [26]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [27]:
data_genres = pd.DataFrame()  # Сreate a new DataFrame
data_genres[['genres', 'profit']] = data[['genres', 'profit']]
data_genres['genres'] = data_genres['genres'].str.split('|')
display(data_genres['genres'].explode().value_counts())
del data_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [28]:
c_genres = Counter()
data_genres = pd.DataFrame()  
data_genres[['genres', 'profit']] = data[['genres', 'profit']]
data_genres['genres'] = data_genres['genres'].map(lambda x: x.split('|'))
for genre in data_genres['genres'].explode():
    c_genres[genre] += 1
print(c_genres.most_common(1))
del data_genres

[('Drama', 782)]

In [29]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
data_profit = pd.DataFrame()
data_profit = data[data['profit'] > 0][['genres', 'profit']]
data_profit['genres'] = data_profit['genres'].str.split('|')
display(data_profit['genres'].explode().value_counts())
del data_profit

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [31]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
data_director = pd.DataFrame()  
data_director[['director', 'revenue']] = data[['director', 'revenue']]
data_director['director'] = data_director['director'].str.split('|')
data_director = data_director.explode('director')
display(data_director.groupby(['director'])[
    'revenue'].sum().sort_values(ascending=False))
del data_director

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [33]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
data_director = pd.DataFrame()
data_director[['director', 'genres']] = data[['director', 'genres']]
data_director['genres'] = data_director['genres'].str.split('|')
data_director = data_director.explode('genres')
data_director['director'] = data_director['director'].str.split('|')
data_director = data_director.explode('director')
display(data_director[data_director['genres']
                      == 'Action']['director'].value_counts())
del data_director

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Asger Leth            1
Des McAnuff           1
Gareth Edwards        1
Doug Lefler           1
Kevin Macdonald       1
Name: director, Length: 364, dtype: int64

In [35]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
data_actor = pd.DataFrame()
data_actor[['cast', 'revenue']] = data[data['release_year']
                                       == 2012][['cast', 'revenue']]
data_actor['cast'] = data_actor['cast'].str.split('|')
data_actor = data_actor.explode('cast')
display(data_actor.groupby('cast').sum().sort_values('revenue', ascending=False))
del data_actor

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

In [37]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
s_actor = data[data['budget'] > data['budget'].mean()]['cast']
s_actor = s_actor.str.split('|')
s_actor.explode().value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Tom Cruise              15
Eddie Murphy            15
                        ..
Tom Welling              1
John Patrick Amedori     1
Jimmi Simpson            1
Morris Chestnut          1
Ellie Kemper             1
Name: cast, Length: 1505, dtype: int64

In [39]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
s_cage = data[data['cast'].str.contains('Nicolas Cage')]['genres']
s_cage = s_cage.str.split('|')
s_cage.explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [41]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
data[data['production_companies'].str.contains('Paramount Pictures')][[
    'original_title', 'imdb_id', 'profit']].sort_values('profit').head(1)

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

In [43]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
data.groupby('release_year')['revenue'].agg('sum').sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [45]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
data_warner = data[data['production_companies'].str.contains('Warner')][[
    'release_year', 'profit']]
display(data_warner.groupby('release_year')['profit'].agg(
    'sum').sort_values(ascending=False))
del data_warner

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

In [47]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
data['release_date'].apply(lambda x: x[: x.find('/')]).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [49]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
s_release = data['release_date'].map(lambda x: x[: x.find('/')]).value_counts()
s_release.filter(regex='^[6-8]').sum()

450

In [51]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [76]:
winter_director = pd.DataFrame()
winter_director[['director',
                 'release_date']] = data[['director', 'release_date']]
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director[
    'release_date'].apply(season)
display(winter_director[winter_director[
    'release_date'].isin(['winter'])].groupby('release_date')['director'].value_counts())
del winter_director

release_date  director
winter        Peter Jackson        7
              Clint Eastwood       5
              Nancy Meyers         4
              Steven Soderbergh    4
              Edward Zwick         3
                                  ..
              Tom Hooper           1
              Tony Leech           1
              Wayne Wang           1
              Wes Anderson         1
              Will Gluck           1
Name: director, Length: 153, dtype: int64

In [53]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
data_studio = pd.DataFrame()
data_studio[['production_companies',
             'original_title']] = data[['production_companies', 'original_title']]
data_studio['original_title'] = data_studio['original_title'].str.len()
display(data_studio[data_studio['original_title']
                    == data_studio['original_title'].max()]['production_companies'].to_list())
del data_studio

['Twentieth Century Fox Film Corporation|Four By Two Productions']

In [55]:
answers['24'] = 'Twentieth Century Fox Film Corporation, Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
data_overview = pd.DataFrame()
data_overview[['production_companies',
               'overview']] = data[['production_companies', 'overview']]
data_overview['overview'] = data_overview['overview'].str.split(' ').str.len()
data_overview['production_companies'] = data_overview[
    'production_companies'].str.split('|')
data_overview = data_overview.explode('production_companies')
display(data_overview.groupby('production_companies')[
        'overview'].mean().sort_values(ascending=False).reset_index())
del data_overview

                       production_companies  overview
0                     Midnight Picture Show     175.0
1                      Room 9 Entertainment     161.0
2            Heineken Branded Entertainment     161.0
3                        98 MPH Productions     159.0
4          Brookwell-McNamara Entertainment     156.0
...                                     ...       ...
1766                       London Boulevard      13.0
1767                           Phantom Four      13.0
1768                             Henceforth      13.0
1769                        Empire Pictures      11.0
1770  Motion Picture Corporation of America      11.0

[1771 rows x 2 columns]

In [57]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
data_film = pd.DataFrame()
data_film[['original_title',
           'vote_average']] = data[['original_title', 'vote_average']]
display(data_film.loc[data_film['vote_average']
                      > data_film['vote_average'].quantile(0.99)].sort_values('vote_average', ascending=False))
del data_film

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
c_pair = Counter()
for actors in data['cast'].str.split('|'):
    for pair in combinations(sorted(actors), 2):
        c_pair[pair] += 1
print(c_pair.most_common(5))

[(('Daniel Radcliffe', 'Emma Watson'), 8), (('Daniel Radcliffe', 'Rupert Grint'), 8), (('Emma Watson', 'Rupert Grint'), 8), (('Ben Stiller', 'Owen Wilson'), 6), (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [61]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Twentieth Century Fox Film Corporation, Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27